@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700;900&display=swap');

.pagination {
  @apply inline-flex;
  a {
    @apply bg-whiteish dark:bg-grey text-grey dark:text-grey-jr px-2 py-1 rounded mr-1 leading-none font-semibold;

    &:hover {
      @apply bg-pink text-whiteish;
    }

    &.active {
      @apply bg-dark text-whiteish;
    }
  }
}

.page-title {
  @apply text-3xl font-bold mb-6 text-blue dark:text-grey leading-tight;
}

@media (min-width: 640px) {
  .page-title {
    @apply text-4xl font-semibold mb-6 text-blue dark:text-grey leading-tight;
  }
}

.has-content {
  @apply leading-7;

  h2 {
    @apply text-2xl font-medium mt-8 mb-2 text-blue dark:text-grey;
  }
  h3 {
    @apply text-xl mb-2;
  }
  p {
    @apply font-light mb-6;

    code {
      @apply p-1 text-sm rounded text-blue dark:text-dark bg-whiteish dark:bg-grey;
    }
  }
  ol, ul {
    @apply list-disc ml-8 mb-8;
    li {
      @apply font-light mb-2 leading-7;
    }
  }
  a {
    @apply underline text-pink;

    &:hover {
      @apply text-grey;
    }
  }
  pre[class*="language-"] {
    @apply -mx-16 mb-6 py-5 px-6 text-sm rounded-lg overflow-x-auto font-mono bg-dark;
  }

  @media (max-width: 1024px) {
    pre[class*="language-"] {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.text-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @apply w-full px-4 py-2 bg-whiteish dark:bg-grey rounded border border-grey-jr dark:border-grey;

  &::placeholder {
    @apply text-grey-jr dark:text-dark;
  }

  &:focus {
    @apply border border-blue outline-none;
  }
}

.btn {
  @apply bg-blue px-4 py-2 rounded text-whiteish font-bold;

  &:hover {
    @apply bg-pink;
  }
}

@tailwind utilities;
