@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 46 69 190;
    --color-secondary: 20 31 77;
    --color-accent: 253 19 89;
    --color-body: 75 75 75;
    --color-black: 30 30 30;
    --color-content: 248 248 248;
    --color-white: 255 255 255;
}

.pagination {
    @apply inline-flex;
}

.pagination a {
    @apply text-accent px-2 py-1 rounded mr-1 leading-none font-semibold;
}

.pagination a:hover {
    @apply text-content;
}

.pagination a.active {
    @apply text-content;
}


article {
    @apply w-full md:max-w-screen-md mx-auto;
}

article.full {
    @apply max-w-screen-lg;
}

article h1 {
    @apply font-title text-4xl font-extrabold mb-8 text-primary dark:text-content tracking-tight;
}

article h1.large {
    @apply text-4xl sm:text-5xl;
}

article h2 {
    @apply font-title font-extrabold text-3xl mt-10 mb-6 text-primary dark:text-content leading-tight tracking-tight;
}

article h3 {
    @apply font-title text-primary dark:text-content font-extrabold text-2xl/7 mb-6;
}

article h4 {
    @apply font-title text-primary dark:text-content font-semibold text-xl/7 mb-1;
}

article p {
    @apply mb-6 text-lg/7;
}

article p code {
    @apply px-2 p-1 text-sm/7 rounded-lg text-black/80 dark:text-content bg-white dark:bg-white/10 border border-black/20 dark:border-white/15;
}

article ul {
    @apply mb-10 ml-6 text-lg/6 sm:text-lg/7 list-disc;
}

article ul li {
    @apply mb-3 pl-1;
}

article ol {
    @apply mb-10 ml-6 text-lg/6 sm:text-lg/7 list-decimal;
}

article ol li {
    @apply mb-3 pl-1;
}

article strong {
    @apply text-black dark:text-content font-semibold;
}

article a {
    @apply underline text-accent cursor-pointer;
}

article a:hover {
    @apply text-primary dark:text-white;
}

article pre {
    @apply -mx-20 mb-8 py-2 pb-0 px-4 text-sm rounded-lg overflow-x-auto font-mono bg-white dark:bg-white/5 shadow-lg dark:shadow-none border border-black/10 dark:border-white/10;
}

article pre code.hljs {
    @apply dark:bg-white/0;
}

article blockquote {
    @apply mb-8 bg-[url('../../content/assets/images/quote.svg')] bg-no-repeat pt-2 pl-12 pr-12;
    background-size: 25px;
    background-position: 5px 0;
}

article blockquote p {
    @apply text-xl/7 font-semibold font-title tracking-tight text-black dark:text-content;
}

article blockquote a {
    @apply underline text-accent cursor-pointer;
}

article blockquote a:hover {
    @apply text-primary dark:text-white;
}

article aside {
    @apply text-lg/6 text-body dark:text-white pl-16 pr-5 py-5 shadow-lg bg-black/5 dark:bg-white/5 border border-body/10 dark:border-white/10 rounded-lg mb-8 bg-[url('../../content/assets/images/bulb.svg')] bg-no-repeat;
    background-size: 25px;
    background-position: 20px 22px;
}

article aside a {
    @apply underline dark:text-white/80;
}

article aside a:hover {
    @apply text-primary dark:text-white;
}

article aside p {
    @apply text-lg/6;
}

@media (max-width: 1024px) {
    article pre {
        margin-left: 0;
        margin-right: 0;
    }
}

form input[type="text"], form input[type="email"], form textarea {
    -webkit-appearance: none;
    appearance: none;
    @apply w-full py-3 px-4 border-body/10 dark:border-content/10 bg-white dark:bg-content/10 rounded-lg dark:text-content shadow-sm;
}

form input[type="text"]::placeholder, form input[type="email"]::placeholder, form textarea::placeholder {
    @apply text-body dark:text-content;
}

form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus {
    @apply border-0 outline-none;
}

form button[type='submit'] {
    @apply bg-accent text-content px-4 py-2 rounded-md font-semibold;
}

form button[type='submit']:hover {
    @apply bg-primary dark:bg-content/90 text-content dark:text-secondary;
}