@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    @apply inline-flex;
}

.pagination a {
    @apply bg-grey-200 dark:bg-grey-600 text-grey-600 dark:text-grey-400 px-2 py-1 rounded mr-1 leading-none font-semibold;
}

.pagination a:hover {
    @apply bg-pink text-grey-200;
}

.pagination a.active {
    @apply bg-grey-800 text-grey-200;
}


article {
    @apply w-full md:max-w-screen-md mx-auto;
}

article.full {
    @apply max-w-screen-lg;
}

article h1 {
    @apply text-3xl sm:text-4xl font-bold mb-8 text-blue-600 dark:text-grey-400 tracking-tight;
}

article h2 {
    @apply font-bold text-2xl mt-8 mb-6 text-blue-600 dark:text-grey-400 leading-tight tracking-tight;
}

article h3 {
    @apply text-blue-600 dark:text-grey-400 font-semibold text-xl/7 mb-6;
}

article h4 {
    @apply text-blue-600 dark:text-grey-400 font-semibold text-lg/7 mb-1;
}

article p {
    @apply mb-6 text-lg/8;
}

article p code {
    @apply px-2 p-1 text-base/8 rounded text-blue-600 dark:text-grey-400 bg-grey-100 dark:bg-grey-800 shadow;
}

article ul {
    @apply mb-10 ml-6 text-lg/8 list-disc;
}

article ul li {
    @apply mb-3 pl-2;
}

article ol {
    @apply mb-10 ml-6 text-lg/8 list-decimal;
}

article ol li {
    @apply mb-3 pl-2;
}

article a {
    @apply underline text-pink cursor-pointer;
}

article a:hover {
    @apply text-blue-600 dark:text-grey-100;
}

article pre {
    @apply mb-6 py-2 px-3 text-sm rounded-md overflow-x-auto font-mono bg-grey-100 dark:bg-grey-800 shadow-md;
}

article blockquote {
    @apply text-xl/7 mb-8 bg-[url('../../content/assets/images/quote.svg')] bg-no-repeat font-bold pt-2 pl-10;
    background-size: 25px;
    background-position: 5px 0;
}

article blockquote p {
    @apply text-xl/7;
}

article blockquote a {
    @apply underline text-pink cursor-pointer;
}

article blockquote a:hover {
    @apply text-blue-600 dark:text-grey-100;
}

article aside {
    @apply text-lg/6 text-blue-600 dark:text-grey-100 pl-16 pr-5 py-3 shadow-md bg-grey-100 dark:bg-grey-800 leading-relaxed rounded-md mb-8 bg-[url('../../content/assets/images/bulb.svg')] bg-no-repeat fill-grey-400;
    background-size: 25px;
    background-position: 18px 15px;
}

article aside a {
    @apply text-blue-400 dark:text-grey-100;
}

article aside a:hover {
    @apply text-blue-600 dark:text-grey-100;
}

article aside p {
    @apply text-lg/6;
}

@media (max-width: 1024px) {
    article pre {
        margin-left: 0;
        margin-right: 0;
    }
}

form input[type="text"], form input[type="email"], form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @apply w-full py-2 px-3 bg-grey-100 dark:bg-blue-450 rounded-md border border-grey-400 dark:border-grey-600 dark:text-grey-400;
}

form input[type="text"]::placeholder, form input[type="email"]::placeholder, form textarea::placeholder {
    @apply text-grey-500 dark:text-grey-700;
}

form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus {
    @apply border border-blue-600 dark:border-grey-600 outline-none;
}

form button[type='submit'] {
    @apply bg-pink text-grey-100 px-4 py-2 rounded-md font-bold;
}

form button[type='submit']:hover {
    @apply bg-blue-600 dark:bg-grey-400 text-grey-200 dark:text-blue-700;
}

.formkit-form {
    border: 0!important;
    margin: 0 auto!important;
}

.formkit-form > div {
    padding: 0!important;
}